@import "tailwindcss";

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background: #f9fafb;
  margin: 0;
  color: #111827;
}

h1, h2, h3 {
  margin: 0;
}

* {
  box-sizing: border-box;
}